$scheduleColor: blue;

ActionBar.schedule {
	background-color: $scheduleColor;
}

.border-list {
	border-left-width: 3;
	border-color: $scheduleColor;
	margin: 0;
	&.sub {
		color: rgba(0, 0, 0, 0.4);
	}
}
