$informationColor: #ffce00;


ActionBar {
 background-color: $informationColor;
}


Page.info {
  StackLayout {
    Label,
    StackLayout {
      padding: 10;
    }
  }
  .metadata {
    Label {
      margin: 0;
    }
  }
}
