$informationColor: #ffce00;

ActionBar.information {
	background-color: $informationColor;
}

Page.info {
	label.title {
		font-size: 25rem;
		font-weight: bold;
	}

	StackLayout.icon {
    padding: 0;
    width: 10%;
    font-size: 20rem;
	}
	StackLayout.left {
    padding: 0;
    width: 50%;
    vertical-align: middle;
    font-size: 15rem;
    font-weight: bold;
    
	}
	StackLayout.right {
    padding: 0;
    text-align: right;
    width: 40%;
    vertical-align: middle;
    font-size: 15rem;
  }
  .desc {
    font-size: 17rem;
    font-weight: 400;
  }

	StackLayout {
		label,
		StackLayout {
			padding: 10;
		}
	}
	.metadata {
		label {
			margin: 0;
		}
	}
}
